In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import sqlalchemy

In [4]:
teis_df = pd.read_excel('../data/teis_data.xlsx', sheet_name='All Children with IFSPs')

C:\Users\brand\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [5]:
teis2_df = pd.read_excel('../data/teis_data.xlsx', sheet_name='Compiled_IFSP Teaming')

In [10]:
# Count the number of unique child IDs on "All Children with IFSPs"
num_children = teis_df['Child ID'].nunique()

In [8]:
print(num_children)

19623

In [32]:
CHILD_ID.count()

NameError: name 'CHILD_ID' is not defined

In [15]:
# Count the number of unique child IDs on "Compiled_IFSP Teaming"
num_children2 = teis2_df['CHILD_ID'].nunique()

In [16]:
print(num_children2)

4789

In [19]:
#percentage of children serviced 
percentage = (num_children2/ num_children) * 100
print("Percentage: {:.2f}%".format(percentage))

Percentage: 24.41%

In [23]:
# Group the DataFrame by 'Child ID' and 'IFSP Teaming ID Name', and count the occurrences
grouped_df = teis2_df.groupby(['CHILD_ID', 'IFSP Teaming ID name']).size().reset_index(name='Count')

# Print the grouped DataFrame
grouped_df

      CHILD_ID IFSP Teaming ID name  Count
0       457136             Co-Visit      1
1       457136          IEP Meeting      1
2       457585          IEP Meeting      1
3       457852          IEP Meeting      1
4       458051         IFSP Meeting      1
...        ...                  ...    ...
5838    541337             Co-Visit      1
5839    541511             Co-Visit      1
5840    541890             Co-Visit      1
5841    542077         IFSP Meeting      1
5842    542122             Co-Visit      1

[5843 rows x 3 columns]

In [28]:
# Filter the DataFrame to include only rows with IFSP Teaming ID Name as 'Co-visit'
co_visit_df = teis2_df[teis2_df['IFSP Teaming ID name'] == 'Co-Visit']

# Count the unique Child IDs receiving co-visits
num_children_co_visits = co_visit_df['CHILD_ID'].nunique()

# Count the unique Child IDs with an IFSP
num_children_with_ifsp = teis2_df[teis2_df['IFSP Teaming ID name'].notnull()]['CHILD_ID'].nunique()

# Calculate the rate of co-visits as a percentage
co_visit_rate = (num_children_co_visits / num_children_with_ifsp) * 100

In [30]:
num_children_co_visits

1645

In [31]:
num_children_with_ifsp

4789

In [33]:
teis2_df['IFSP Teaming ID name'].value_counts()

IFSP Meeting    4820
Co-Visit        4091
IEP Meeting      632
Name: IFSP Teaming ID name, dtype: int64

In [34]:
teis2_df['ADD_USER'].value_counts()

ROGERSKALEY             225
REDDMISSY               199
PULLIAMAMY              140
OLIVERCIARA             129
HARRISKATE              118
                       ...
HAYKRYSTALFTS             1
HUNTTIERENEY              1
TREADWAYCHRISTYWTCCD      1
THORNBURYRACHEL           1
SPRADLINGSARAH            1
Name: ADD_USER, Length: 529, dtype: int64

In [35]:
teis2_df['Agency Name'].value_counts()

LeBonheur EI & Dev (LEAD) (vendor)                   924
Emory Valley Center                                  730
Siskin Children's Institute (EIRA)                   685
Physical Therapy Services, PA (EIRA)                 589
LeBonheur EI & Dev (LEAD) (EIRA)                     505
                                                    ...
Words for Life Speech & Language Center, LLC           1
Jeannine Couvertiere, SLP Services                     1
Choice Medical Inc / Choice Orthotics Prosthetics      1
Blount Memorial Hospital                               1
Therapy.Works LLC                                      1
Name: Agency Name, Length: 85, dtype: int64

In [36]:
teis2_df['Service Name'].value_counts()

Dev. Therapy Prof - Home/Community               7671
Occupational Therapy                              515
Speech Therapy                                    448
Physical Therapy                                  316
Dev. Therapy Center-Based                         154
Dev. Therapy - BCBA                               144
Eval/Assess - Developmental                        72
Vision Services                                    63
Physical Therapy Assistant                         32
Evaluation - Occupational Therapy                  26
IFSP Team Member Participation (Virtual)           20
IFSP Team Member Participation (Face-To-Face)      20
Evaluation - Speech Therapy                        16
Evaluation - Physical Therapy                      15
Dev. Therapy â€“ Registered Behavior Tech (RBT)      11
Dev. Therapy - Behavior                             5
Consultation â€“ Developmental Therapy                4
Assistive Technology                                3
Evaluation - BCBA Developmental Therapy             3
Occupational Therapy Assistant                      2
Dev. Therapy ParaProf - Home/Community              1
Speech Therapy-Group                                1
Evaluation/Assessment - Vision                      1
Name: Service Name, dtype: int64

In [37]:
teis2_df['SERVICE_SETTING'].value_counts()

Home               4010
Telehealth         3604
Community-based    1291
Other               628
Name: SERVICE_SETTING, dtype: int64

In [39]:
teis2_df['SERVICE DELIVERY'].value_counts()

Service Delivered          9532
Absence Due to Family         6
Absence Due to Provider       3
Family No Show                2
Name: SERVICE DELIVERY, dtype: int64

In [40]:
# Filter the DataFrame to include only rows with 'SERVICE DELIVERY' as 'Absence Due to Family'
absence_family_df = teis2_df[teis2_df['SERVICE DELIVERY'] == 'Absence Due to Family']

In [41]:
absence_family_df

,CHILD_ID,SERVICE_DATE,START_TIME,END_TIME,SERVICE_SETTING,SERVICE DELIVERY,ADD_USER,ADD_DATE,IFSP Teaming ID name,Agency Name,Agency Type,Service Name
238,469545,2022-03-22,NaN,NaN,NaN,Absence Due to Family,PARKERDIANA1,2022-03-24 21:20:38,IFSP Meeting,Siskin Children's Institute (EIRA),EIRA,Dev. Therapy Prof - Home/Community
3774,500266,2022-02-18,NaN,NaN,NaN,Absence Due to Family,CARDENASJESSICA1,2022-02-22 10:50:57,IEP Meeting,Shelby Residential & Voc Svcs(SRVS) (EIRA),EIRA,Dev. Therapy Prof - Home/Community
7474,518376,2022-12-27,NaN,NaN,NaN,Absence Due to Family,LAVOLLAMY1,2022-12-29 16:58:06,IFSP Meeting,Emory Valley Center,EIRA,Dev. Therapy Prof - Home/Community
7739,520343,2022-03-24,NaN,NaN,NaN,Absence Due to Family,POWERSCARRIE,2022-03-24 15:41:27,IFSP Meeting,Infant Stimulation Program - UT Martin,EIRA,Dev. Therapy Prof - Home/Community
7846,521207,2022-07-20,NaN,NaN,NaN,Absence Due to Family,REEDKATIA1,2022-07-26 03:46:15,Co-Visit,Rehab At Your Place (EIRA),EIRA,Dev. Therapy Prof - Home/Community
8546,526490,2022-06-29,NaN,NaN,NaN,Absence Due to Family,HOYOSSANDRA,2022-07-06 13:18:45,IEP Meeting,LTVEC,EIRA,Dev. Therapy Prof - Home/Community

In [45]:
# NaN values in 'START_TIME' or 'END_TIME'
null_service_times = teis2_df[teis2_df['START_TIME'].isna() | teis2_df['END_TIME'].isna()]

In [47]:
null_service_times

,CHILD_ID,SERVICE_DATE,START_TIME,END_TIME,SERVICE_SETTING,SERVICE DELIVERY,ADD_USER,ADD_DATE,IFSP Teaming ID name,Agency Name,Agency Type,Service Name
238,469545,2022-03-22,NaN,NaN,NaN,Absence Due to Family,PARKERDIANA1,2022-03-24 21:20:38,IFSP Meeting,Siskin Children's Institute (EIRA),EIRA,Dev. Therapy Prof - Home/Community
1223,481717,2022-05-20,NaN,NaN,NaN,Family No Show,SANDERSBROOKE,2022-05-21 01:58:09,IFSP Meeting,"Physical Therapy Services, PA (EIRA)",EIRA,Dev. Therapy Prof - Home/Community
3774,500266,2022-02-18,NaN,NaN,NaN,Absence Due to Family,CARDENASJESSICA1,2022-02-22 10:50:57,IEP Meeting,Shelby Residential & Voc Svcs(SRVS) (EIRA),EIRA,Dev. Therapy Prof - Home/Community
6054,511399,2022-10-17,NaN,NaN,NaN,Absence Due to Provider,CONWAYPEGGY,2022-10-17 13:44:23,Co-Visit,Emory Valley Center,EIRA,Dev. Therapy Prof - Home/Community
6115,511559,2022-07-04,NaN,NaN,Home,Absence Due to Provider,REDDMISSY,2023-01-17 22:28:51,Co-Visit,LeBonheur EI & Dev (LEAD) (vendor),Independent,Occupational Therapy
6718,513855,2022-05-30,NaN,NaN,NaN,Absence Due to Provider,CONWAYPEGGY,2022-05-30 15:44:21,Co-Visit,Emory Valley Center,EIRA,Dev. Therapy Prof - Home/Community
7474,518376,2022-12-27,NaN,NaN,NaN,Absence Due to Family,LAVOLLAMY1,2022-12-29 16:58:06,IFSP Meeting,Emory Valley Center,EIRA,Dev. Therapy Prof - Home/Community
7739,520343,2022-03-24,NaN,NaN,NaN,Absence Due to Family,POWERSCARRIE,2022-03-24 15:41:27,IFSP Meeting,Infant Stimulation Program - UT Martin,EIRA,Dev. Therapy Prof - Home/Community
7846,521207,2022-07-20,NaN,NaN,NaN,Absence Due to Family,REEDKATIA1,2022-07-26 03:46:15,Co-Visit,Rehab At Your Place (EIRA),EIRA,Dev. Therapy Prof - Home/Community
8546,526490,2022-06-29,NaN,NaN,NaN,Absence Due to Family,HOYOSSANDRA,2022-07-06 13:18:45,IEP Meeting,LTVEC,EIRA,Dev. Therapy Prof - Home/Community
8637,527044,2022-11-29,NaN,NaN,NaN,Family No Show,HAMILTONHANNAH,2022-11-29 15:49:04,IEP Meeting,LeBonheur EI & Dev (LEAD) (EIRA),EIRA,Dev. Therapy Prof - Home/Community

In [49]:
# Count the occurrences of NaN values in 'START_TIME' or 'END_TIME' to see if they match the null service times and they don't
count_nan_values = null_service_times['START_TIME'].isna().sum() + null_service_times['END_TIME'].isna().sum()
print("Number of NaN values in 'START_TIME' or 'END_TIME':", count_nan_values)

Number of NaN values in 'START_TIME' or 'END_TIME': 22